*, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  scroll-behavior: smooth;
}

@-webkit-keyframes opacityMain {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityMain {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.mainHeader {
  background-image: url(../img/running.jpg);
  min-height: 100vh;
  min-width: 100%;
  max-width: 1980px;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  letter-spacing: 2px;
  -webkit-animation: opacityMain 1.5s linear;
          animation: opacityMain 1.5s linear;
}

.mainHeader h1 {
  text-shadow: 0 0 10px #FFFFFF;
  margin: 0;
  padding: 0;
}

.mainHeader .typeText1 {
  padding-top: 10%;
  font-size: 1.3rem;
}

.mainHeader .typeText2 {
  padding-bottom: 5%;
}

.aboutLink {
  position: absolute;
  top: -100%;
  color: transparent;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  font-weight: 900;
  text-shadow: 0 0 3px #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutLinkActive {
  display: block;
  position: absolute;
  top: 20%;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 90%;
  padding: 10px;
  font-weight: 900;
  text-shadow: 0 0 3px #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 900;
}

.aboutLinkActive:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

@media (orientation: landscape) {
  .mainHeader {
    background-position: center;
    background-repeat: no-repeat;
  }
  .mainHeader .typeText1 {
    padding-top: 3%;
  }
}

@media (orientation: landscape) and (min-width: 500px) {
  .mainHeader a {
    font-size: 1rem;
  }
}

@media (min-width: 400px) {
  .mainHeader h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 700px) {
  .mainHeader a {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .mainHeader .typeText1 {
    font-size: 3rem;
    padding-top: 2%;
  }
  .mainHeader .typeText2 {
    font-size: 3rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .mainHeader h1 {
    font-size: 1.5rem;
  }
  .mainHeader .typeText2 {
    font-size: 1.5rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 0.8rem;
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .mainHeader h1 {
    font-size: 1.5rem;
  }
  .mainHeader .typeText2 {
    font-size: 1.5rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 0.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1050px) {
  .mainHeader h1 {
    font-size: 1.5rem;
  }
  .mainHeader .typeText2 {
    font-size: 2rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 1.3rem;
  }
}

*, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  scroll-behavior: smooth;
}

@keyframes opacityMain {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.mainHeader {
  background-image: url(../img/running.jpg);
  min-height: 100vh;
  min-width: 100%;
  max-width: 1980px;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  letter-spacing: 2px;
  -webkit-animation: opacityMain 1.5s linear;
          animation: opacityMain 1.5s linear;
}

.mainHeader h1 {
  text-shadow: 0 0 10px #FFFFFF;
  margin: 0;
  padding: 0;
}

.mainHeader .typeText1 {
  padding-top: 10%;
}

.mainHeader .typeText2 {
  padding-bottom: 5%;
}

.aboutLink {
  position: absolute;
  top: -100%;
  color: transparent;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 50%;
  padding: 10px;
  font-weight: 900;
  text-shadow: 0 0 3px #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutLinkActive {
  display: block;
  position: absolute;
  top: 20%;
  margin: 0 auto;
  background-color: transparent;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  border-radius: 90%;
  padding: 10px;
  font-weight: 900;
  text-shadow: 0 0 3px #FFFFFF;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 900;
}

.aboutLinkActive:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  text-shadow: 0 0 10px white;
  cursor: pointer;
}

@media (orientation: landscape) {
  .mainHeader {
    background-position: center;
    background-repeat: no-repeat;
  }
  .mainHeader .typeText1 {
    padding-top: 1%;
  }
}

@media (orientation: landscape) and (min-width: 500px) {
  .mainHeader a {
    font-size: 1rem;
  }
}

@media (min-width: 400px) {
  .mainHeader h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 700px) {
  .mainHeader a {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .mainHeader .typeText1 {
    font-size: 3rem;
    padding-top: 2%;
  }
  .mainHeader .typeText2 {
    font-size: 3rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 2.5rem;
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .mainHeader h1 {
    font-size: 1.5rem;
  }
  .mainHeader .typeText2 {
    font-size: 1.5rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 0.8rem;
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .mainHeader h1 {
    font-size: 1.5rem;
  }
  .mainHeader .typeText2 {
    font-size: 1.5rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 0.8rem;
  }
}

@media (orientation: landscape) and (min-width: 1050px) {
  .mainHeader h1 {
    font-size: 1.5rem;
  }
  .mainHeader .typeText1 {
    padding-top: 5%;
  }
  .mainHeader .typeText2 {
    font-size: 2rem;
    padding-bottom: 2%;
  }
  .mainHeader a {
    font-size: 1.3rem;
  }
}

*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapAbout1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  margin-top: 10%;
  min-width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  border-radius: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapAbout1:hover {
  background-color: lightgray;
}

.wrapAbout2:hover {
  background-color: lightgray;
}

.wrapAbout2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
  border: 1px solid lightgray;
  border-radius: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whoWeAre {
  display: block;
  position: relative;
  min-height: 10vh;
  text-align: center;
  max-width: 100%;
  font-size: 1.2rem;
  padding: 5%;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 900;
  font-family: sans-serif;
}

.whoWeAre::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/about2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.7;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 2%;
}

.aboutPerson1a {
  display: block;
  min-height: 25vh;
  min-width: 65vw;
  position: relative;
}

.aboutPerson1a img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  border: 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutPerson1b {
  display: block;
  min-height: 25vh;
  min-width: 65vw;
}

.aboutPerson2a {
  display: block;
  position: relative;
  min-height: 25vh;
  min-width: 65vw;
}

.aboutPerson2a img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  border: 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutPerson2b {
  display: block;
  min-height: 25vh;
  min-width: 65vw;
}

.about p {
  color: #ff4c4c;
  padding: 3%;
  font-size: 0.9rem;
  font-weight: 500;
}

.about h4 {
  padding-left: 3%;
}

.about span {
  display: block;
  padding: 3%;
  padding-bottom: 0%;
  letter-spacing: 0.5px;
}

@media (orientation: landscape) {
  .about {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapAbout1 {
    min-width: 35%;
    max-width: 35%;
    margin-top: 5%;
  }
  .wrapAbout2 {
    max-width: 35%;
    margin-top: 5%;
  }
  .aboutPerson1a {
    min-width: 30vw;
    min-height: 30vh;
  }
  .aboutPerson1b {
    min-width: 30vw;
    min-height: 30vh;
  }
  .aboutPerson2a {
    min-width: 30vw;
    min-height: 30vh;
  }
  .aboutPerson2b {
    min-width: 30vw;
    min-height: 30vh;
  }
}

@media (orientation: portrait) {
  .about {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapAbout1 {
    max-width: 80vw;
    min-height: 60vh;
    max-height: 60vh;
  }
  .wrapAbout2 {
    max-width: 80vw;
    min-height: 60vh;
    max-height: 60vh;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .whoWeAreInfo {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.3rem;
  }
  .about h4 {
    font-size: 2.3rem;
  }
  .about span {
    font-size: 1.8rem;
  }
}

@media (orientation: portrait) and (min-width: 1000px) {
  .whoWeAreInfo {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .whoWeAreInfo {
    font-size: 1.5rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about h4 {
    font-size: 2rem;
  }
  .about span {
    font-size: 1rem;
  }
  .about {
    margin-top: 0%;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  .whoWeAreInfo {
    font-size: 2.2rem;
  }
  .about p {
    font-size: 1.2rem;
  }
  .about h4 {
    font-size: 2rem;
  }
  .about span {
    font-size: 1.3rem;
  }
  .about {
    margin-top: 0%;
  }
}

*, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapAbout1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  margin-top: 10%;
  min-width: 50vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid lightgray;
  border-radius: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapAbout2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
  border: 1px solid lightgray;
  border-radius: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whoWeAre {
  display: block;
  position: relative;
  min-height: 10vh;
  text-align: center;
  max-width: 100%;
  font-size: 1.2rem;
  padding: 5%;
  letter-spacing: 2px;
  text-align: center;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

.whoWeAre::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/about2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.7;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutPerson1a {
  display: block;
  min-height: 25vh;
  min-width: 65vw;
  position: relative;
}

.aboutPerson1a img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  border: 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutPerson1b {
  display: block;
  min-height: 25vh;
  min-width: 65vw;
}

.aboutPerson2a {
  display: block;
  position: relative;
  min-height: 25vh;
  min-width: 65vw;
}

.aboutPerson2a img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 100%;
  border: 0;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.aboutPerson2b {
  display: block;
  min-height: 25vh;
  min-width: 65vw;
}

.about p {
  color: #ff4c4c;
  padding: 3%;
  font-size: 0.9rem;
  font-weight: 500;
}

.about h4 {
  padding-left: 3%;
}

.about span {
  display: block;
  padding: 3%;
  padding-bottom: 0%;
  letter-spacing: 0.5px;
}

@media (orientation: landscape) {
  .about {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .wrapAbout1 {
    min-width: 35%;
    max-width: 35%;
    margin-top: 5%;
  }
  .wrapAbout2 {
    max-width: 35%;
    margin-top: 5%;
  }
  .aboutPerson1a {
    min-width: 30vw;
    min-height: 30vh;
  }
  .aboutPerson1b {
    min-width: 30vw;
    min-height: 30vh;
  }
  .aboutPerson2a {
    min-width: 30vw;
    min-height: 30vh;
  }
  .aboutPerson2b {
    min-width: 30vw;
    min-height: 30vh;
  }
}

@media (orientation: portrait) {
  .about {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .whoWeAreInfo {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.3rem;
  }
  .about h4 {
    font-size: 2.3rem;
  }
  .about span {
    font-size: 1.8rem;
  }
}

@media (orientation: portrait) and (min-width: 1000px) {
  .whoWeAreInfo {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.6rem;
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .whoWeAreInfo {
    font-size: 1.5rem;
  }
  .about p {
    font-size: 1rem;
  }
  .about h4 {
    font-size: 2rem;
  }
  .about span {
    font-size: 1rem;
  }
  .about {
    margin-top: 0%;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  .whoWeAreInfo {
    font-size: 2.2rem;
  }
  .about p {
    font-size: 1.2rem;
  }
  .about h4 {
    font-size: 2rem;
  }
  .about span {
    font-size: 1.3rem;
  }
  .about {
    margin-top: 0%;
  }
  .wrapAbout1 {
    min-height: 40vh;
    max-height: 60vh;
    padding-top: 5%;
  }
  .wrapAbout2 {
    min-height: 40vh;
    max-height: 60vh;
    padding-top: 5%;
  }
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2%;
  z-index: -2;
  background-color: #FFFAFA;
}

.offer div {
  display: block;
  position: relative;
  max-width: 45%;
  min-height: 25vh;
  min-width: 35%;
  margin-top: 4%;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.offerHead {
  display: block;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding-top: 5%;
  background-color: #FFFAFA;
}

.offer div:hover h5 {
  color: white;
  text-shadow: 0 0 10px #FFFFFF;
  font-weight: 900;
  opacity: 1;
  font-family: sans-serif;
}

.offer div:hover img {
  opacity: 0.7;
}

.offerOption1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 10px;
}

.offer div:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.offerOption2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 10px;
}

.offerOption3 img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 10px;
}

.offerOption4 img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  border-radius: 10px;
}

.offer h5 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: White;
  letter-spacing: 0.5px;
  font-weight: 900;
  font-size: 1.1rem;
  text-shadow: 0 0 10px #FFFFFF;
}

@media (min-width: 600px) and (orientation: portrait) {
  .offer h5 {
    font-size: 2rem;
  }
  .offerHead {
    font-size: 2rem;
  }
}

@media (min-width: 900px) and (orientation: portrait) {
  .offer h5 {
    font-size: 2.3rem;
  }
  .offerHead {
    font-size: 3rem;
  }
}

@media (min-width: 900px) and (orientation: landscape) {
  .offer h5 {
    font-size: 2.2rem;
  }
  .offerHead {
    font-size: 3rem;
  }
}

.whyUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 62vh;
  max-width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  margin-top: 5%;
  padding-bottom: 5%;
}

.whyUsInfo {
  display: block;
  min-width: 100%;
  color: black;
  text-align: center;
  padding: 3%;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif;
  font-stretch: inherit;
  font-weight: 900;
  font-size: 1rem;
  z-index: 5;
  opacity: 1;
}

.whyUs div {
  display: block;
  position: relative;
  min-width: 35%;
  opacity: 1;
  z-index: 5;
  text-align: center;
  border-radius: 5%;
  overflow: hidden;
}

.whyUs img {
  z-index: 2;
  opacity: 1;
}

.whyUs1 {
  background-color: white;
  display: block;
  max-width: 60%;
  min-height: 10vh;
  border: 1px solid yellowgreen;
}

.whyUs2 {
  min-height: 20vh;
  min-width: 30%;
  max-height: 30vh;
}

.whyUs2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.whyUs3 {
  background-color: green;
  min-height: 20vh;
  max-width: 30%;
}

.whyUs4 {
  display: block;
  min-width: 60%;
  background-color: white;
  min-height: 10vh;
  max-width: 60%;
  border: 1px solid yellowgreen;
}

.whyUs3 img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.whyUs span {
  text-align: center;
  display: block;
  padding: 10px;
  color: #A9A9A9;
  max-height: 50vh;
  font-size: 0.8rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 0.5px;
}

@media (orientation: portrait) and (max-width: 400px) {
  .whyUs {
    min-height: 80vh;
  }
}

@media (orientation: portrait) and (min-width: 700px) {
  .whyUs span {
    font-size: 1rem;
  }
}

@media (orientation: portrait) and (min-width: 950px) {
  .whyUs span {
    font-size: 1.3rem;
  }
}

@media (orientation: landscape) and (min-width: 400px) {
  .whyUs {
    min-height: 80vh;
  }
}

@media (orientation: landscape) and (min-width: 1000px) {
  .whyUs1, .whyUs4 {
    max-width: 40%;
    padding: 2%;
  }
  .whyUs3, .whyUs2 {
    min-height: 40vh;
  }
  .whyUs {
    min-height: 100vh;
  }
  .whyUsInfo {
    font-size: 2.5rem;
  }
  .whyUs span {
    font-size: 1.4rem;
  }
}

nav img {
  position: fixed;
  top: 0;
  right: 2%;
  display: block;
  height: 40px;
  width: 40px;
  padding: 4px;
  z-index: 10;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  color: black;
  -webkit-animation: opacityMain 1.7s linear;
          animation: opacityMain 1.7s linear;
}

nav .hamburgerBG {
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  height: 40px;
  width: 40px;
  padding: 4px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

nav a {
  text-decoration: none;
  text-align: center;
}

.navMobile {
  position: fixed;
  top: 10%;
  right: -100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #2c3892;
  z-index: 9;
  text-align: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
}

.navMobile ul li {
  display: block;
  text-transform: uppercase;
  color: white;
  padding: 5%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  min-width: 20%;
  margin: 0 auto;
}

.navMobile ul {
  width: 100%;
}

.navMobile a {
  text-align: center;
  width: 100%;
  min-width: 20%;
}

.navMobileActive {
  right: 0;
}

@media (max-width: 1099px) {
  nav .navDesktop {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 1100px) {
  nav .navDesktop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    background-color: rgba(22, 27, 0, 0.1);
    z-index: 99;
    margin: 0 auto;
    -webkit-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-animation: opacityMain 1.7s linear;
            animation: opacityMain 1.7s linear;
  }
  .navDesktop li {
    text-align: center;
    display: block;
    min-width: 20%;
    float: left;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    color: black;
    font-size: 1.4rem;
    opacity: 1;
    font-weight: 900;
    text-shadow: 0 0 5px #FFFFFF;
  }
  .navDesktop li:hover {
    background-color: white;
  }
  nav .hamburger1 {
    display: none;
  }
}

@keyframes opacityMain {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */