*{
    font-family: 'Roboto', sans-serif;
}
.contact{
    
    position: relative;
    display: block;
    max-width: 100%;
    max-height:90vh;
    min-height: 70vh;;
    font-family: 'Roboto', sans-serif;
   
}

.contact img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width:100%;
    z-index: -1;
}
.contact h4{
    position: absolute;
    font-size:1.4rem;
    letter-spacing: 0.5px;
    color:black;
    font-weight: 900;
    text-shadow: 1px 0 7px white;
    top:5%;
    left:50%;
    transform: translate((-50%, -50%,));
    text-align: center;
    z-index:1;
}
input{
    display: block;
    border: 1px solid black;
    border-radius:5px;
    padding:4px;
    width:40%;
    margin-top:10px;
}
.formMsg{
    height:15vh;
    align-self: flex-end;
    justify-self:flex-end;
}
form{
    
    display: flex;
    flex-wrap: wrap;
    height:70vh;
    justify-content: center;
    align-items: flex-start;
    font-size:0.5rem;
    flex-direction: column;
    padding:10px;

}
.contactIcon span{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.inputEmail{
    margin-top:70px;
}
.textArea{
margin-top:10px;
height:20vh;
width:40%;
border-radius: 10px;;
padding:4px;
border: 1px solid black;
max-width: 40%;
max-height: 20vh;
min-width: 40%;
max-height: 20vh;
}
button{
    margin-top: 10px;;
    border-radius: 5px;
    font-size:0.9rem;
    padding:2px 10px 2px 10px;
    font-weight: 500;
    justify-self: center;
    background-color:black;
    color:white;
    letter-spacing: 0.5px;
    text-shadow: 0 0 3px white;
    
}
.userID{
    border: 1px solid black;
}
button:hover{
    background-color: white;
    color:black
}
.contactWrapper{
    position: absolute;
    right:1%;
    bottom: 40%;
    transform: translate(-10%,0%);
    display:flex;
    height:35%;
    width:25%;
    
    z-index: 1;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
    

}
.contactIcon{
    display:block;
    width:40%;
    height:40%;
    padding-top:20px;
    position: relative;
    padding-right:10px;
    
    padding-left:20px;
}
.contactIcon img{
    position: absolute;
    top:50%;    
    left:50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width:100%;
    

}
.contact a{
    z-index:20;
    width:40%;
    height:40%;
}
.contactA{
    width:100%;
    height:100%;
}
    

.contactIcon span{
    position: absolute;
    font-size:0.6rem;
    color:white;
}
.contactIcon .span1{
    top:100%;
    left:100%;
    transform: translate(-80%,30%);
}
.contactIcon .span2{
    top:100%;
    left:100%;
    transform: translate(-90%,30%);

}
@media(orientation:portrait) and (min-width:750px){
    input{
        font-size:1.2rem;
    }
    .contact h4{
        font-size:1.8rem;
    }
    button{
        font-size:1.3rem;
    }
}
@media(orientation:portrait) and (min-width:1000px){
    input{
        font-size:1.5rem;
    }
    .contact h4{
        font-size:2.4rem;
    }
    button{
        font-size:1.7rem;
    }
}
@media(orientation:landscape){
    .inputEmail{
        margin-top:30px;
    }
    input{
        width:35%;
        margin-left:1%;
    }
    .textArea{
        width:35%;
        min-width: 35%;
        max-width: 35%;
        margin-left:1%;
    }
    .contactA{
        position: relative;
        width:100%;
        height:100%;
    }
    .contact button{
        margin-left:1%;
    }
    
   
}
@media (orientation:portrait){
    .contactBgDesktop{
        display:none;
    }
    .contactWrapper{
        display:none;
    }
}

@media(orientation:landscape) and (min-width:660px){
    .contactIcon span{
        font-size:0.7rem;
    }
    .contactIcon .span2{
        transform: translate(-110%,30%);
    }
}
@media(orientation:landscape) and (min-width:800px){
    .contactIcon span{
        font-size:0.7rem;
    }
    
    .contactA{
        position: relative;
        width:100%;
        height:100%;
    }
    .contactIcon .span2{
        transform: translate(-110%,30%);
    }
}
@media(orientation:landscape) and (min-width:1024px){
    .contactBg{
        display:none;
    }
    .contactBgDesktop{
        display: block;
        
    }
    .contact h4{
        font-size:2.5rem;
    }
    .contactWrapper{
        bottom: 30%;
    }
    .contactIcon span{
        font-size: 1rem;
    }
    .contactIcon .span2{
        transform: translate(-100%,30%);
    }
}
@media(orientation:landscape) and (min-width:1200px){
    .contactIcon span{
        font-size: 1rem;
    }
    .contactIcon .span2{
        transform: translate(-135%,30%);
    }
}
@media(orientation:landscape) and (min-width:1400px){
    .contactIcon span{
        font-size: 1rem;
    }
    .contactIcon .span1{
        transform: translate(-90%,30%);
    }
    .contactIcon .span2{
        transform: translate(-140%,30%);
    }
    input{
        font-size:1.2rem;
    }
    button{
        font-size:1.2rem;
    }
}
@media(orientation:landscape) and (min-width:1600px){
    .contactIcon span{
        font-size: 1rem;
    }
    .contactIcon .span1{
        transform: translate(-90%,30%);
    }
    .contactIcon .span2{
        transform: translate(-155%,30%);
    }
}
@media(orientation:landscape) and (min-width:1750px){
    .contactIcon span{
        font-size: 1.2rem;
    }
    .contactIcon .span1{
        transform: translate(-100%,30%);
    }
    .contactIcon .span2{
        transform: translate(-170%,30%);
    }
}
@media(orientation:landscape) and (max-height:319px){
    .contactWrapper{
        display:none;
    }
}